body {
	display: flex;
	flex-direction: 	column;
	justify-content:	center;
	align-items:		stretch;
	max-width:			700px;
	background-color:	#f1f1ef;
	margin: 			auto;
	font-family: 		Helvetica, sans-serif;
}

#address_field {
	display:			flex;
	flex-direction:		row;
	justify-content:	center;
	align-items:		center;
}

input[type="text"] {
	font-size: 			1.5em;
	padding: 			4px;
	margin:				5px 0px;
	border-radius:		4px;
	border: 			1px solid #dadada;
	flex:				2;
}

input[type="text"]:focus {
	outline: 			none;
	border-color: 		#eaeaea;
	box-shadow: 		0 0 10px #9ecaed;
}

button {
	font-size:			1.5em;
	padding: 			4px;
	border-radius:		4px;
	border:				1px solid #dadada;
	background-color:	#fff;
	margin-left:		4px;
}

button:focus {
	outline:			none;
}

button:active {
	background-color:	#d0d0d0;
}

.pane {
	background-color: 	#fff;
	border-radius:		4px;
	border:				1px solid #dadada;
	padding:			4px;
}

#error_pane {
	background-color:	#f66;
	font-size:			1em;
	display: 			none;
}

#landing_pane {
	font-size:			1.25em;
}

#info_pane {
	display:			none;
	flex-direction:		column;
}

hr {
	height:				1px;
	border:				0px;
	background-color:	#dadada;
	margin:				10px 0px;
}

.address_line {
	font-size:			1.25em;
	display:			block;
	margin:				5px;
	height:				1.25em;
}

#zillow_logo {
	float:				right;
	margin-top:			5px;
}

h3 {
	font-size: 			1.5em;
	font-weight:		normal;
	margin: 			5px;
}

#zestimate_date {
	float: 				right;
	font-size: 			0.75em;
}

#zestimate > div.moving {
	display:			flex;
	flex-direction: 	row;
	justify-content: 	center;
}

.moving_neg {
	background-color:	#f77;
	height:				15px;
	padding: 			3px;
	text-align:			left;
}

.moving_pos {
	background-color: 	#7f7;
	height: 			15px;
	padding: 			3px;
	text-align:			right;
}

.moving_pad {
	height:				15px;
}

#zestimate > div.prices {
	display: 			flex;
	flex-flow: 			row wrap;
	justify-content:	space-between;
	text-align:			center;
}

#zestimate_low {
	text-align:			left;
}

#zestimate_high {
	text-align: 		right;
}

div.price > span {
	font-size:			1.5em;
}

div.price > p {
	font-size:			0.75em;
}

